
body{
  background-color: black;
  width: 100%;
  height: auto;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}
/* .container{
  display:flex
} */

h1{
  display: flex;
  color:rgb(0, 0, 0);
  font-size:50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri;
  font-weight:500;
  padding-left: 10px;
  margin-top:10px;
}
.nav-container{
  /* display:flex; */
  justify-content: space-between;
  
  background-color: rgb(11, 207, 11);
  border-radius:20px;
  margin: 20px;
  border-style:groove;
  border-width: 10px;
  
}


.nav-list{
  margin-top:10px;
  padding-right:10px;
  display:flex; 
  justify-content: flex-start;
  list-style: none;
  word-spacing:normal; 
  
}

.list-items{
  padding-left:10px;
  list-style: none;
  text-decoration:underline;
  margin-left:8px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri;
  color:black;
  
}

.Me{
  display:flex;
  margin-bottom: 25px;
  margin:20px;
  justify-content:center;
  background-color: rgb(116, 37, 190);
  border-style:groove;
  border-width: 15px;
  border-radius: 40px;
  padding-bottom: 20px;
}
#Me{
  
  /* display: flex; */
  border-radius:20px;
  margin-top:20px;
  border-style: ridge;
  border-width: 10px;
}

.About p{
  /* display: flex; */
  padding-top:30px;
  padding-left:10px;
  font-size:21px;
  font-family: monospace ;
}

.About{
  /* display:flex; */
  justify-content:left;
  background-color: rgb(122, 25, 141);
  border-radius: 20px;
  margin: 20px;
  border-style: groove;
  border-width:15px;
  
}


.Work{
  /* display:flex; */
  background-color: rgb(11, 207, 11);
  border-radius: 20px;
  margin: 20px;
  padding-top:  90px;
  border-style: groove;
  border-width: 15px;
}

.Work-list{
  list-style: none;
  font-style:unset;
  font-family:monospace;
  font-size: 18px;
  

}


.Work h3{
  margin-right:20px;
  
}

.Contact{
  display:flex;
  justify-content:left;
  background-color: rgb(11, 207, 11);
  border-radius: 20px;
  margin: 20px;
  border-style: groove;
  border-width: 15px;

}
.Contact a{
  display:flex;
  margin-left:1vw;
  margin-right:2vw;
  margin-top:40px;
  color:rgb(52, 13, 88);
  font-size: 125%;
  font-family: monospace;
}


h3{
  text-decoration:underline;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri;
  padding-left:10px;
  margin-top:20px;
  font-size:30px;
  
}

.Work p{
  display: flex;
}

footer{
  height:10px;
}

.pic{
  display:flex;
  margin:10px;
  border-style: groove;
  border-width:5px;
}

h4{
  color:black;
  text-align: left;
  padding-left:50px;
  margin:10px;
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  text-decoration:underline;
}

@media screen and (max-width:375px){
  #Me{
    width: 90%;
  }
}


@media screen and (max-width:768px) {
  img{max-width: 280px;}
  .Contact{margin:0px;
    display: flex;
    }
  .Work{margin:0px;}
  body{margin:0 auto;}
  .Contact a {
    display: block;
    }
  
}

@media screen and (max-width:849px){
.Contact{
  flex-direction: column;
}

}

